### Maven ###
/target/

### Backup ###
.bak

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Fichier de surcharge local spécifique à chaque dev ###
/application.properties
/application.properties.bak

### Dossier des logs
/logs/

.env

